body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*MENU*/

* {
    padding: 0;
    margin: 0;
}

header{
    padding: 20px 0px;
    width: 1400PX;
    position: fixed;
    z-index: auto;
    background-color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin: 16px;
    letter-spacing: 0.25em;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 550px;
}

.btn-success {
    padding: 10px;
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
}

.my-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-right img {
    width: 40px;
    height: auto;
    float: left;
    font-size: 35px;
}

.navbar-left img {
    width: 90px;
    height: 50px;
}


/*BLOQUE PRINCIPAL*/

.container img {
    width: 700px;
    height: auto;
    float: left;
}

.container {
    background-color:  #1e3932;
    max-height: auto;
    max-width: 1400px;
    margin-top: 85px;
    display: flex;
    flex-direction: row;
}

.container-starbucks{
    padding: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 120%;
}

.container-starbucks h2{
    font-size: 28px;
    line-height: 250%;
    font-weight: 100;
}

.container-starbucks p{
    font-size: 20px;
    line-height: 250%;
    font-weight: 100;
}

/*BLOQUE VERDE*/

#container-green{
    background-color: #1e3932;
    width: 2000px;
}

/*BLOQUE AZUL*/

#container-blue{
    background-color: #0044b4;
    flex-direction: row-reverse;
    margin-top: 30px;
    padding: 0%;
}

#container-blue h2{
    line-height: 150%;
    font-weight: 100;
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 16px;
}

#container-blue p{
    line-height: 180%;
    display: block;
    unicode-bidi: isolate;
    padding: 8px;
}

/*BLOQUE ROJO*/

#container-red{
    background-color: #d50032;
    margin-top: 30px;
}

/*BLOQUE GREEN 2*/

#container-green-2{
    background-color: #1e3932;
    flex-direction: row-reverse;
    margin-top: 30px;
}

/*BLOQUE RED 2*/

#container-red-2 {
    background-color: #d50032;
    width: 2000px;
    margin-top: 30px;
}
